// Head font

@font-face {
  font-family: 'HeadFont';
  src: url('../assets/fonts/Commissioner-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'HeadFont';
  src: url('../assets/fonts/Commissioner-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'HeadFont';
  src: url('../assets/fonts/Commissioner-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'HeadFont';
  src: url('../assets/fonts/Commissioner-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

// Primary font

@font-face {
  font-family: 'PrimaryFont';
  src: url('../assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PrimaryFont';
  src: url('../assets/fonts/IBMPlexSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'PrimaryFont';
  src: url('../assets/fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'PrimaryFont';
  src: url('../assets/fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

// Other

@font-face {
  font-family: 'AnnotationFont';
  src: url('../assets/fonts/Caveat-Regular.ttf') format('truetype');
  font-style: normal;
}
